
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box; 
  background-color: #f0f0f0; 
  text-align: center;
}



h1 {
  margin-bottom: 20px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}


.read-the-docs {
  color: #888;
}



.general {
  width: 100%;
  height: 100%;
}
.showResults {
  display: flex;
 
  width: 100%;
  height: 50%;
}

.amounts{
  width: 30%;
  height: 100%;
}
.Names{
  width: 30%;
  height: 100%;
}
.desc{
  width: 30%;
  height: 100%;
}
.del {
  width: 8%;
  height: 100%;
}
.showTasks {
  
  width: 100%;
  height: 50%;
}